body{
    background-color: palevioletred;
}

h1{
    color: blueviolet;
    text-align: center;
    border: 1px dashed black; 
    border-right:40px 
}

.img{
max-width: 60%;
display: flex;
text-align:center;
margin:auto;
}

